//colors
$color-primary: #2978A0;
$color-primary-dark: #14213D;
$color-primary-light: #647AA3;
$color-primary-light-mid: #303e58;
$color-orange: #FCA311;
$color-orange-dark: #c26b09;
$color-silver: #E5E5E5;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark: rgb(48, 48, 48);
$color-gray-dark-2: #999;
//font
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;